[user]
	name = James Peach
#	email = 
[core]
	editor = vim
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -n10
  ri = rebase --interactive --autosquash --autostash
